GROQ_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/google-vision-service-account.json
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=nova_class
JWT_SECRET=
PORT=5001
RAG_URL=http://localhost:8000
GOOGLE_CLIENT_ID=
ELEVENLABS_API_KEY=
